<div class="sidebar">
    <nav>
        <a href="#" id="navSummary" class="sidebarBox">
            <img id="iconSummary" src="/assets/img/icons/iconSummary.png" />
            <p>Summary</p>
        </a>
        <a href="#" id="navBoard" class="sidebarBox">
            <img src="/assets/img/icons/iconBoard.png" />
            <p>Board</p>
        </a>
        <a href="#" id="navTask" class="sidebarBox">
            <img src="/assets/img/icons/iconTask.png" />
            <p>Add Task</p>
        </a>
        <a href="#" id="navContacts" class="sidebarBox">
            <img src="/assets/img/icons/iconContacts.png" />
            <p>Contacts</p>
        </a>
        <a href="#" class="sidebarBox" id="legalNotice">
            <img id="legalNoticeInfoIcon" src="/assets/img/icons/iconInfo.png" />
            <p>Legal Notice</p>
        </a>
    </nav>
</div>