<div id="boardContentID" class="boardContent">
    <div id="boardTodo">
        <div class="boxHeader">
            <h2>To do</h2>
            <img class="pointer" src="/assets/img/plus button v1.png" />
        </div>
        <div id="boardTodoContent"></div>
    </div>
    <div id="boardProgress">
        <div class="boxHeader">
            <h2>In progress</h2>
            <img class="pointer" src="/assets/img/plus button v1.png" />
        </div>
        <div id="boardProgressContent"></div>
    </div>
    <div id="boardFeedback">
        <div class="boxHeader">
            <h2>Await feedback</h2>
            <img class="pointer" src="/assets/img/plus button v1.png" />
        </div>
        <div id="boardFeedbackContent"></div>
    </div>
    <div id="boardDone">
        <div class="boxHeader">
            <h2>Done</h2>
            <img class="pointer" src="/assets/img/plus button v1.png" />
        </div>
        <div id="boardDoneContent"></div>
    </div>
</div>