@media(max-width: 600px) {
    form{
      margin-bottom: 50px;
    }
  }
  @media(max-width: 800px) { 
    .header-mobile-addTask {
      display: block;
    }
    .menu-desktop {
      display: none !important;
  }
    .checkAndCrossIcons {
      left: 430px; 
    }
    .checkAndCrossIconsCategory {
      left: 430px; 
      top: 55px;
    }
    .taskFooter {
      margin-bottom: 50px;
    }
    .addtaskStatic {
      margin-left: 0;
      padding-top: 100px;
      max-width: 100vw;
      padding-left: 5vw;
      padding-right: 5vw;
    }
    .fa-calendar-minus {
      display: none; 
    }
    #buttonClear {
      display: none;
    }
    #buttonCreate {
      display: none;
    }
    #importanceIMGHard {
      width: 120px;
    }
    #importanceIMGMid {
      width: 120px;
    }
    #importanceIMGLow {
      width: 120px;
    }
    .importanceLvl {
      width: 100vw;
    }
  }
  @media(max-width: 380px) {
    .checkAndCrossIcons {
      left: 270px; 
    }
    .checkAndCrossIconsCategory {
      left: 270px; 
    }
    #importanceIMGHard {
      width: 70px;
    }
    #importanceIMGMid {
      width: 70px;
    }
    #importanceIMGLow {
      width: 70px;
    }
  }
  @media(max-width: 1300px) {
    #buttonClear{
      font-size: 16px;
    }
    #buttonCreate{
      font-size: 16px;
    }
  }
  @media(max-width: 1120px) {
    .taskFooterButtons {
      display: flex;
      position: relative;
      top: 100px;
      left: -100px;  
    }
  }
  @media(max-width: 550px) {
    .checkAndCrossIconsCategory {
      left: 75vw;
    }
    #newCategoryText {
      width: 90vw;
    }
    #inputTitle {
      width: 90vw;
    }
    .selectorHeader  {
      width: 90vw;
    }
    #selectDate {
      width: 90vw;
    }
    #inputDescription {
      width: 90vw;
    }
    #subtaskText {
      width: 90vw;
    }
    .checkAndCrossIcons {
      left: 75vw;
    }
  }
  @media(max-width: 450px){
    #importanceLvl img{
      width: 100px;
    }
  }